html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    
}

#background {
    background-color: #fff;
    background-position: center;
    background-size: cover;
    display: table;
    height: 100%;
    width: 100%;
    background: linear-gradient(150deg, #34E4F4, #3EACE9);
}

#loginContainer * {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    line-height: 1em;
    box-sizing: border-box;
}

#loginContainer {
    width: 80%;
    margin: 0 auto;
    max-width: 600px;
}

#inputContainer {
    padding: 25px 65px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 3px 3px 10px rgba(50, 50, 50, 0.5);
    margin-bottom: 60px;
}

#inputContainer h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 35px;
    color: #3EACE9;
}

#inputContainer input[type="text"], #inputContainer input[type="email"], #inputContainer input[type="password"] {
    display: block;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #000;
    height: 27px;
    width: 100%;
    font-size: 15px;
    margin: 10px auto;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #a0a0a0;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #a0a0a0;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #a0a0a0;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #a0a0a0;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #a0a0a0;
}

::placeholder { /* Most modern browsers support this now. */
   color:    #a0a0a0;
}

#inputContainer label {
    color: #000;
    font-size: 16px;
    margin-top: 40px;
    display: block;
}

/* #inputContainer button {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 250px;
    color: #fff;
    font-size: 14px;
    display: block;
    letter-spacing: 1px;
    height: 41px;
    width: 100%;
}

#inputContainer button:hover {
    cursor: pointer;
} */

.btn-container {
    width: 100%;
    text-align: center;
}

#regbtn, #logbtn {
    color: #fff;
    margin-top: 15px;
}

#regbtn:hover, #logbtn:hover {
    color: #3EACE9;
}

.button {
    color: #fff;
    cursor: pointer;
    margin: auto;
    margin-bottom: 10px;
    background-color: transparent;
    font-weight: 600;
    letter-spacing: 2px;
    border: 2px solid #fff;
    border-radius: 500px;
    padding: 15px;
    min-width: 130px;
}

.button-green {
    background: linear-gradient(150deg, #34E4F4, #3EACE9);
}

.button-green:hover {
    background: #fff;
    color: #3EACE9;
    border: 2px solid #3EACE9;
}

.hasAccountText span {
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.hasAccountText {
    margin-top: 10px;
    text-align: center;
}

#registerForm, #loginForm {
    display: none;
}

#loginText {
    padding: 45px;
    display: table-cell;
}

#loginText h1 {
    color: #07d159;
    font-size: 60px;
}

#loginText h2 {
    margin: 35px 0;
}

#loginText ul {
    padding: 0;
}

#loginText li {
    font-size: 20px;
    list-style-type: none;
    padding: 10px;
    background: url(../images/icons/checkmark.png) no-repeat 0 0;
}

#inputContainer .errorMessage {
    color: red;
    font-size: 12px;
    display: block;
    margin-bottom: 5px;
}




.banner {
    padding-top: 20px;
    text-align: center;
}

.banner h1 {
    font-size: 54px;
    font-weight: 800;
    margin: -35px auto 0 auto;
    padding-bottom: 65px;
}

.banner img {
    transform: scale(.33);
    margin: -130px auto;
}

#inputContainer p {
    margin-top: 25px;
}

.underline {
    text-decoration: underline;
}
